@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
html {
  height: 100%;
}

body, .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Noto Serif', serif;
}

$navbar-height: 50px;
.navbar {
  background-color: red;
  height: $navbar-height;
}

.page-container {
  height: calc(100% - #{navbar-height});
}
