html {
  height: 100%;
}

body, .container {
  margin: 0 auto;
  padding: .25em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

$navbar-height: 60px;
.navbar {
  background-color: red;
}

.page-container {
  height: calc(100% - #{navbar-height});
}
