$content: 60%;
$right-bar: 15%;

.header {
  margin: 0 auto;
  max-width: 700px;

  .block-title {
    font-size: 40px;
    font-weight:700;
    line-height: 1.04;
    letter-spacing: -.028em;
    margin-bottom:10px;
  }

  .author {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    .info {
      display: inline-block;
      margin-left: 7px;
    }
  }
}

.cover {
  margin-top: 15px;
  width: 100%;
  height: 250px;
  background: url('http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/03/15/104343343-RTX2ZXKG.1910x1000.jpg');
  background-size: cover;
  background-position: center;
}
.story-container {
  max-width: 700px;
  margin: 0 auto;

  .block-container {
    z-index: 1;
    position: relative;
    clear: both;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: center;

    .left-bar {
      flex: .5 0 0;
    }

    .text-container {
      padding: 1em 0;
      flex: 3 0 0;
    }

    .right-bar {
      display: flex;
      flex-flow: row nowrap;
      flex: .75 0 0;
      align-self: center;
      justify-content: center;
      opacity: 0.99;
    }
  }

  .story {
    font-size: 1.25em;
  }

  .stats-block {
    .fa {
      color: gray;
      cursor: pointer;

      &:hover {
        color: #9929c1;
      }
    }
  }
}
