$content: 60%;
$right-bar: 15%;

.block-title {
  text-align: center;
}

.block-container {
  z-index: 1;
  position: relative;
  clear: both;
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: center;

  .left-bar {
    flex: .5 0 0;
  }

  .text-container {
    padding: 1em;
    flex: 3 0 0;
  }

  .right-bar {
    display: flex;
    flex-flow: row nowrap;
    flex: .75 0 0;
    align-self: center;
    justify-content: center;
    opacity: 0.99;
  }
}
.story {
  font-size: 1.25em;
}
